<div class="col-md-8">
    <div class="form-group">
        <label for="id-{{ name }}">{{ label }}</label>
        <textarea class="form-control" name="{{ name }}" id="id-{{ name }}" rows="5" value="{{ value or '' }}" required></textarea>
    </div>
</div>