{% extends "base.j2" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Регион</th>
            <th>Количество комментириев</th>
        </tr>
        </thead>

        <tbody>
        {% for region in regions %}
            <tr>
                <td><a href="/regions/cities/by_region/{{ region.0 }}/">{{ region.1 }}</a></td>
                <td><a href="/regions/cities/by_region/{{ region.0 }}/">{{ region.2 }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
